{% load static %}


      <div
        class="flex flex-col md:flex-row justify-center items-center gap-12 mb-10 md:my-28"
      >
        <div class="flex flex-col justify-center items-center gap-2">
          <img src="{% static 'Services (5).png' %}" class="mb-2" alt="" />
          <h1 class="font-bold">FREE AND FAST DELIVERY</h1>
          <p class="text-sm">Free delivery for all orders over $140</p>
        </div>
        <div class="flex flex-col justify-center items-center gap-2">
          <img src="{% static 'Services (6).png' %}" class="mb-2" alt="" />
          <h1 class="font-bold">24/7 CUSTOMER SERVICE</h1>
          <p class="text-sm">Friendly 24/7 customer support</p>
        </div>
        <div class="flex flex-col justify-center items-center gap-2">
          <img src="{% static 'Services (7).png' %}" class="mb-2" alt="" />
          <h1 class="font-bold">MONEY BACK GUARANTEE</h1>
          <p class="text-sm">We reurn money within 30 days</p>
        </div>
      </div>